Repository huang-xiao-jian/remax-vant: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, prettier --write

style: 🚨 resolve lint error, warning
  .eslintrc.yml
  packages/Collapse/Collapse.tsx
  packages/DropdownItem/DropdownItem.tsx
  packages/DropdownMenu/DropdownMenu.tsx
  packages/Overlay/Overlay.tsx
  packages/Skeleton/Skeleton.tsx
  packages/Slider/Slider.tsx
  packages/Stepper/Stepper.tsx
  packages/Sticky/Sticky.tsx
  packages/tools/with-default-props.tsx
  storyboard/.eslintrc.yml
  storyboard/pages/button/index.tsx
  storyboard/pages/nav-bar/index.tsx
  storyboard/pages/notice-bar/index.tsx
  storyboard/pages/picker/index.tsx
Due: eslint --cache, prettier --write

chore: upgrade dependencies
  package.json
  yarn.lock
Due: none

refactor: ♻️give up mini program event structure
  packages/Checkbox/Checkbox.tsx
  packages/CheckboxGroup/CheckboxGroup.tsx
  packages/CheckboxGroup/CheckboxGroupContext.ts
  packages/Radio/Radio.tsx
  packages/RadioGroup/RadioGroup.tsx
  packages/RadioGroup/RadioGroupContext.ts
  packages/Sidebar/Sidebar.tsx
  packages/Slider/Slider.tsx
  packages/Stepper/Stepper.tsx
  packages/Steps/Steps.tsx
  packages/Switch/Switch.tsx
  packages/Tabbar/Tabbar.tsx
  packages/TreeSelect/TreeSelect.tsx
  storyboard/pages/checkbox/index.tsx
  storyboard/pages/radio/index.tsx
  storyboard/pages/sidebar/index.tsx
  storyboard/pages/slider/index.tsx
  storyboard/pages/stepper/index.tsx
  storyboard/pages/steps/index.tsx
  storyboard/pages/switch/index.tsx
  storyboard/pages/tabbar/index.tsx
Due: eslint --cache, prettier --write

chore: 🔨add compile script, drop unused dependencies
  .babelrc
  .browserslistrc
  .gitignore
  package.json
  yarn.lock
Due: none

style: 🏷️drop references to miniprogram types to avoid weired probleme
  .gitignore
  packages/DropdownItem/DropdownItemDimension.tsx
  packages/IndexAnchor/IndexAnchor.tsx
  packages/IndexBar/IndexBar.tsx
  packages/NoticeBar/NoticeBar.tsx
  packages/Rate/Rate.tsx
  packages/Slider/Slider.tsx
  packages/Sticky/Sticky.tsx
  typings/index.d.ts
Due: eslint --cache, prettier --write

chore: 🚀setup exports field, publish directories
  .babelrc
  app.json
  package.json
  packages/index.ts
  yarn.lock
Due: eslint --cache, prettier --write

chore: 🔨use semantic-release
  .releaserc
  package.json
  yarn.lock
Due: none

Notes added by 'git notes add'
  a61cadcbf8c7cc7f1f0d8297c29566f2b46cd90e
Due: none

chore: weired peer dependencies
  yarn.lock
Due: none

Notes added by 'git notes add'
  c9e663c9ad7b918d0147bf8f7d3815c1dd814a4d
Due: none

chore: 🔧 add missing changelog file
  .releaserc
  CHANGELOG.md
Due: prettier --write

refactor: ♻️ unify inline style type, remove object assign style merge
  packages/Button/Button.tsx
  packages/Cell/Cell.tsx
  packages/Checkbox/Checkbox.tsx
  packages/GridItem/GridItem.tsx
  packages/Icon/Icon.tsx
  packages/Image/Image.tsx
  packages/Loading/Loading.tsx
  packages/Progress/Progress.tsx
  packages/SidebarItem/SidebarItem.tsx
  packages/Slider/Slider.tsx
  packages/Stepper/Stepper.tsx
  packages/Steps/Steps.tsx
Due: eslint --cache, prettier --write

refactor(icon): ♻️ drop unnecessary object spread
  packages/Icon/Icon.tsx
Due: eslint --cache, prettier --write

feat: ✨ implement circle component
  README.md
  packages/Circle/Circle.css
  packages/Circle/Circle.tsx
  packages/Circle/actions.ts
  packages/Circle/index.ts
  packages/tools/Deferred.ts
  storyboard/pages/circle/index.tsx
Due: eslint --cache, prettier --write

style: 🎨 drop unnecessary blank line
  storyboard/pages/circle/index.tsx
Due: eslint --cache, prettier --write

fix: 🐛 format value as integer number, avoid infinite paint
  packages/Circle/actions.ts
Due: eslint --cache, prettier --write

refactor: ♻️ unify inline style type, inline style merge (#1)
  packages/Button/Button.tsx
  packages/Cell/Cell.tsx
  packages/Checkbox/Checkbox.tsx
  packages/GridItem/GridItem.tsx
  packages/Icon/Icon.tsx
  packages/Image/Image.tsx
  packages/Loading/Loading.tsx
  packages/Progress/Progress.tsx
  packages/SidebarItem/SidebarItem.tsx
  packages/Slider/Slider.tsx
  packages/Stepper/Stepper.tsx
  packages/Steps/Steps.tsx
Due: eslint --cache, prettier --write

feat: ✨ implement vant-weapp circle component (#2)
  README.md
  packages/Circle/Circle.css
  packages/Circle/Circle.tsx
  packages/Circle/actions.ts
  packages/Circle/index.ts
  packages/tools/Deferred.ts
  storyboard/pages/circle/index.tsx
Due: eslint --cache, prettier --write

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a82be02751ab6eedea6f63711a0ea8ad4e77dc1f
Due: none

feat: ✨ implement action-sheet
  packages/ActionSheet/ActionSheet.css
  packages/ActionSheet/ActionSheet.interface.ts
  packages/ActionSheet/ActionSheet.tsx
  packages/ActionSheet/index.ts
  storyboard/app.css
  storyboard/pages/action-sheet/index.tsx
Due: eslint --cache, prettier --write

feat: ✨ implement action-sheet (#7)
  packages/ActionSheet/ActionSheet.css
  packages/ActionSheet/ActionSheet.interface.ts
  packages/ActionSheet/ActionSheet.tsx
  packages/ActionSheet/index.ts
  storyboard/app.css
  storyboard/pages/action-sheet/index.tsx
Due: eslint --cache, prettier --write

feat: ✨ implement swipe-cell
  packages/SwipeCell/SwipeCell.css
  packages/SwipeCell/SwipeCell.tsx
  packages/SwipeCell/index.ts
  packages/tools/range.ts
  storyboard/app.css
  storyboard/pages/swipe-cell/index.tsx
  tsconfig.json
Due: eslint --cache, prettier --write

feat: ✨ implement swipe-cell (#8)
  packages/SwipeCell/SwipeCell.css
  packages/SwipeCell/SwipeCell.tsx
  packages/SwipeCell/index.ts
  packages/tools/range.ts
  storyboard/app.css
  storyboard/pages/swipe-cell/index.tsx
  tsconfig.json
Due: eslint --cache, prettier --write

feat(popup): ✨ support scale transition
  packages/Popup/Popup.css
  packages/Popup/Popup.tsx
Due: eslint --cache, prettier --write

feat: ✨ implement dialog
  packages/Dialog/Dialog.constant.ts
  packages/Dialog/Dialog.css
  packages/Dialog/DialogBox.tsx
  packages/Dialog/DialogManager.ts
  packages/Dialog/DialogProvider.tsx
  packages/Dialog/index.ts
  storyboard/pages/dialog/index.tsx
Due: eslint --cache, prettier --write

chore: 🔧 disable prefer default export rule
  .eslintrc.yml
Due: prettier --write

feat: ✨ abstract touch behavior
  packages/tools/use-touch-lite.ts
  typings/index.d.ts
Due: eslint --cache, prettier --write

feat: ✨ implement tab child
  packages/Tab/Tab.css
  packages/Tab/Tab.tsx
  packages/Tab/index.ts
Due: eslint --cache, prettier --write

feat(sticky): ✨ support sticky multiple instance
  packages/Sticky/Sticky.tsx
Due: eslint --cache, prettier --write

fix: 🐛 loose visibility condition
  packages/Info/Info.tsx
Due: eslint --cache, prettier --write

feat: ✨ implement tabs package
  packages/Tabs/Tabs.constant.ts
  packages/Tabs/Tabs.context.ts
  packages/Tabs/Tabs.css
  packages/Tabs/Tabs.redux.ts
  packages/Tabs/Tabs.styles.ts
  packages/Tabs/Tabs.tsx
  packages/Tabs/index.ts
  packages/Tabs/use-line.ts
  packages/Tabs/use-scroll-view.ts
  storyboard/pages/tabs/index.tsx
Due: eslint --cache, prettier --write

docs: 📝 export complete package
  README.md
  packages/index.ts
Due: eslint --cache, prettier --write

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  712cdbe4214cda7f9605b27857bd630164e48f52
Due: none

fix: 🐛 add missing url link support
  packages/Cell/Cell.tsx
Due: eslint --cache, prettier --write

docs: 📝 expose preview application
  public/sitemap.json
  storyboard/pages/index/index.tsx
  storyboard/pages/index/info.ts
Due: eslint --cache, prettier --write

Path conditions:
  eslint --cache: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,css,md,yml})
